:root {
  --background-color: #b0c3ff;
  --primary-color: #3658c1;
  --text-color: #ededed;
  --disabled-color: #758283;
  --success-color: #3dbe29;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
}

.toast-notification {
  font-family: sans-serif;
}

.illustration {
  height: 20rem;
  width: 20rem;
}

.hero__text {
  font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
  .illustration {
    height: 15rem;
    width: 15rem;
  }

  .hero__text {
    font-size: 1.3rem;
    text-align: center;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
