main {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  display: flex;
}

.left__panel,
.right__panel {
  height: 80%;
  width: 50%;
  display: flex;
  align-items: center;
}

.left__panel {
  padding: 2rem 4rem 2rem 8rem;
}

.right__panel {
  padding: 2rem 4rem;
}

.hero__section,
.cta__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

u {
  color: var(--primary-color);
}

@media screen and (max-width: 900px) {
  main {
    flex-direction: column;
  }

  .left__panel,
  .right__panel {
    width: 100%;
    padding: 2rem;
  }

  .right__panel {
    align-items: flex-start;
    justify-content: center;
  }

  .hero__section,
  .cta__section {
    align-items: center;
  }
}
